
* {
  box-sizing: border-box;
}

header{
  padding-top: 38px;
  padding-left: 65px;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}

img{
  width: 32%;
  padding-top: 5%;
  float: left;
}

.text-box{
  width: 500px;
  position: relative;
  right:4%
}

h1{
  font-family: 'Space Mono', monospace;
  font-size: 7vh;
}

p{
  font-family: 'Space Mono', monospace;
  font-size: 3vh;
  width: 350px;
}

.flex-container{
  position: relative;
  padding-top: auto;
  padding-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .flex-container{
    flex-direction: column;
  }
}

button{
  position: relative;
  top: 20px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  height:60px;
  background-color: black;
  color: white;
  padding: 10px 20px;
}


footer{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 23px;
  padding-top: 130px;
  text-align: center;
}
